// Typography
$font-display: 'kanji';
$font-text: 'neue_hans_kendrick';

// Colors
$color-cyan: #0FC8F3;
$color-magenta: #FF00FF;
$color-yellow: #FFDC00;
$color-black: #19191A;

// Component Dimensions
$nav-height: 90px;

$transition-fx: all 250ms ease;

$breakpoint-mobile: 400px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-small: 580px;
