<section id="accommodations">
  <div class="accommodations--wrapper-container">
    <!-- <img src="./images/shapes/accommodations/accommodations-white-tiangle-1.svg" alt="" class="accommodations-white-triangle-1"> -->
    <!-- <img src="./images/shapes/accommodations/accommodations-dot-grid-yellow-1.svg" alt="" class="accommodations-shape-1 rellax" data-rellax-speed="1"> -->

    <div class="accommodations--content-container">
      <h2 class="title-3">
        Accommodations
      </h2>

      <div class="accommodations--locations-container">
        <div class="accommodations--location" id="sunset-park">
          <div class="accommodations--header" id="sunset-park">
            Sunset Park, Brooklyn
          </div>
          <p>Sunset Park may not be a trendy neighborhood but Industry City is an exciting area to explore. A dynamic ecosystem where diverse innovators, creators, makers, and manufacturers develop, produce, and collaborate daily in Brooklyn. There is a 40,000 square foot food hall, shopping & retail. Learn more: <a href="https://industrycity.com/" target="_blank">industrycity.com</a></p>
          <p><strong>We recommend staying here if proximity to the wedding venue is a priority.</strong></p>

          <hr class="accommodations--location-divider" id="sunset-park" />
          <h4 class="hotel-list--header">Hotels in Sunset Park (1/2 mile from wedding venue):</h4>
          <ul class="hotel-list">
            <li class="hotel-list--list-item">
              <a href="https://www.wyndhamhotels.com/groups/gn/bousel-flores-wedding" target="_blank">Wedding Block Wyndham Garden Brooklyn Sunset Park (expires May 15th)</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho639414720/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=1&tab=description&JHR=4&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Quality Inn near Sunset Park Park</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho218905/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=2&tab=description&JHR=4&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Days Inn by Wyndham Brooklyn</a>
            </li>
          </ul>
        </div>

        <div class="accommodations--location" id="downtown-brooklyn">
          <div class="accommodations--header" id="downtown-brooklyn">
            Downtown Brooklyn
          </div>
          <p>Downtown Brooklyn provides the perfect starting point for experiencing an eclectic area full of energy and brimming with culture. Its centrally located streets serve as an introduction to the neighborhoods of Brooklyn Heights, DUMBO, Fort Greene, Park Slope and Williamsburg. Downtown Brooklyn is known for its cultural district, including the BRIC Arts Media House and the New York Transit Museum. Learn more: <a href="http://downtownbrooklyn.com/" target="_blank">downtownbrooklyn.com/</a></p>

          <hr class="accommodations--location-divider" id="downtown-brooklyn" />
          <h4 class="hotel-list--header">Hotels in Downtown Brooklyn (4-6 miles from venue, 20-30 minutes by car):</h4>
          <ul class="hotel-list">
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho370872/?q-check-out=2018-06-18&FPQ=4&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=26&tab=description&JHR=5&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Aloft New York Brooklyn</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho459006/?q-check-out=2018-06-18&FPQ=4&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=28&tab=description&JHR=5&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Hampton Inn Brooklyn Downtown</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho533852864/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=19&tab=description&JHR=3&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Gowanus Inn & Yard, An Ascend Hotel Collection Member</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.airbnb.com/locations/new-york/downtown-brooklyn" target="_blank">AirBnB Downtown Brooklyn Guide</a>
            </li>
          </ul>
        </div>

        <div class="accommodations--location" id="long-island-city">
          <div class="accommodations--header" id="long-island-city">
            Long Island City
          </div>
          <p>A redeveloped industrial area along the East River in Queens, Long Island City is known for its gleaming high-rises with sweeping views of Manhattan. Innovative art galleries and performance spaces, as well as pockets of trendy bars and restaurants. MoMA PS1 showcases cutting-edge art. Locals enjoy the quiet riverfront park. Long Island City is a convenient location to Manhattan, Brooklyn and Queens. Learn more: <a href="https://www.nycgo.com/boroughs-neighborhoods/queens/long-island-city" target="_blank">nycgo.com/</a></p>

          <hr class="accommodations--location-divider" id="long-island-city" />
          <h4 class="hotel-list--header">Hotels in Long Island City: (10 miles from venue, 30-35 minutes by car):</h4>
          <ul class="hotel-list">
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho605317/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=20&tab=description&JHR=3&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">The Vue Hotel, an Ascend Hotel Collection Member</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho408393/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=22&tab=description&JHR=4&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Fairfield Inn & Suites New York Queens</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho419429440/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=27&tab=description&JHR=4&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Courtyard Long Island City/Manhattan View</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho400299/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=11&tab=description&JHR=4&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Wyndham Garden Long Island City</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.hotels.com/ho480987/?q-check-out=2018-06-18&FPQ=3&q-check-in=2018-06-16&WOE=1&WOD=6&q-room-0-children=0&pa=21&tab=description&JHR=4&q-room-0-adults=2&YGF=14&MGT=2&ZSX=0&SYE=3" target="_blank">Hilton Garden Inn Long Island City, Queensboro Bridge</a>
            </li>
            <li class="hotel-list--list-item">
              <a href="https://www.airbnb.com/locations/new-york/long-island-city" target="_blank">AirBnB Long Island City Guide</a>
            </li>
          </ul>
        </div>

        <div class="accommodations--location" id="manhattan">
          <div class="accommodations--header" id="manhattan">
            Manhattan
          </div>
          <p>Hotels south of Times Square are in close proximity to the wedding venue. A hotel in Times Square is approximately 35 minutes to the venue by car.</p>
        </div>


    </div>

    <div class="accommodations--bottom-triangle">
      <!-- <img src="./images/shapes/accommodations/accommodations-white-tiangle-2.svg" alt="" class="accommodations-white-triangle-2"> -->
    </div>

  </div>
</section>
