<section id="details">
  <div class="details--wrapper-container">
    <img src="./images/shapes/details/details-lines-pink-1.svg" alt="" class="details--shape-1 rellax" data-rellax-speed="1">
    <img src="./images/shapes/details/details-ring-blue-1.svg" alt="" class="details--shape-2 rellax" data-rellax-speed="1">
    <img src="./images/shapes/details/details-ring-yellow-1.svg" alt="" class="details--shape-3 rellax" data-rellax-speed="1">
    <img src="./images/shapes/details/details-lines-blue-1.svg" alt="" class="details--shape-4 rellax" data-rellax-speed="1">
    <img src="./images/shapes/details/details-ring-blue-2.svg" alt="" class="details--shape-5 rellax" data-rellax-speed="1">
    <img src="./images/shapes/details/details-line-yellow-1.svg" alt="" class="details--shape-6 rellax" data-rellax-speed="1">
    <img src="./images/shapes/details/details-lines-yellow-2.svg" alt="" class="details--shape-7 rellax" data-rellax-speed="1">
    <img src="./images/shapes/details/details-triangle-dots-pink-1.svg" alt="" class="details--shape-8 rellax" data-rellax-speed="1">

    <div class="details--content-container">

      <div class="title-2 details--title">Wedding Details</div>

      <div class="details--date-container">
        <div class="details--label_date-time">
          Date + Time
        </div>
        <div class="details--date title-3">
          06.17.2018
        </div>
        <div class="details--date-time title-4">
          11.30 AM
        </div>
      </div>

      <div class="details--location-container">

        <div class="details--venue-transportation-container">
          <div class="details--venue-container">
            <div class="details--label">
              Location
            </div>
            <div class="details--venue-name">
              Warehouse Studios
            </div>
            <div class="details--venue-address">
              3905 2nd Avenue <br />
              Brooklyn, NY 11232
            </div>
          </div>

          <div class="details--parking-container">
            <div class="details--label">
              Parking
            </div>
            <div class="" style="display: block">
                <p>Located less than a block from the wedding venue.</p>
            </div>

            <div class="details--parking-rate">
              Weekend Rate: $5/day
            </div>
          </div>


          <div class="details--transportation-container">
            <div class="details--label">
              Transportation
            </div>

            <div class="details--transportation-img-container">
              <img src="./images/transportation/transportation-1.png" alt="" class="details--transportation-img-1">
              <img src="./images/transportation/transportation-2.png" alt="" class="details--transportation-img-2">
            </div>
            <br />
            <p>By subway the closest stop is the 36th street station via the:</p>
            <a href="http://www.mta.info/" target="_blank" class="details--subway-link">
              <img src="./images/subway-icon-group.svg" alt="" class="details--subway-icon">
              <div class="details--subway-text">
                View Subway Status & Maps
              </div>
            </a>
          </div>
        </div>

        <div class="details--map-container">
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1334QI4gwWRptB2JqyGw3Z-IcYrV7E6P_&ll=40.65531570003745%2C-74.01070152056957&z=18"></iframe>
        </div>

      </div>
    </div>
  </div>
</section>
