<section id="footer">
  <div class="footer--wrapper-container">
    <img src="./images/shapes/footer/footer-dot-grid-yellow-1.svg" alt="" class="footer-shape-1 rellax" data-rellax-speed="-1">
    <img src="./images/shapes/footer/footer-lines-pink-1.svg" alt="" class="footer-shape-2 rellax" data-rellax-speed="-1">
    <img src="./images/shapes/footer/footer-ring-blue-1.svg" alt="" class="footer-shape-3 rellax" data-rellax-speed="1">
    <img src="./images/shapes/footer/footer-ring-yellow-1.svg" alt="" class="footer-shape-4 rellax" data-rellax-speed="1">
    <img src="./images/shapes/footer/footer-lines-blue-1.svg" alt="" class="footer-shape-5 rellax" data-rellax-speed="1">
    <img src="./images/shapes/footer/footer-triangle-dots-pink-1.svg" alt="" class="footer-shape-6 rellax" data-rellax-speed="1">
    <img src="./images/gilda/gilda-1.png" alt="" class="footer-gilda-1 rellax" data-rellax-speed="1">

    <div class="footer--content-container">
      <div class="footer--message">Can’t Wait to Celebrate!</div>
      <div class="title-3 footer--date">
        06.17.2018
      </div>
    </div>

  </div>
</section>
