<section id="story">
  <div class="story--wrapper-container">
    <img src="./images/shapes/story/story-dot-grid-yellow-1.svg" alt="" class="story-shape-1 rellax" data-rellax-speed="1">
    <img src="./images/shapes/story/story-lines-purple-1.svg" alt="" class="story-shape-2 rellax" data-rellax-speed="2">

    <div class="story--content-container">

      <div class="title-3">
        Our Story
      </div>

      <div class="story--box-container">
        <div class="story--box">
          <div id="story--1" class="story--box-content">
            <a
              class="venobox"
              href="./images/story/story-1-big@2x.png"
              data-gall="gallery01"
              data-title="September 17, 2011. We met under the lasers of a Ghostland Observatory show. After the concert, we split a cab with our friends to a dive bar, The Levee."
            >
              <img src="./images/story/story-1@2x.png" alt="" class="story--box-image" />
            </a>
            <p class="story--box-text">
              September 17, 2011. We met under the lasers of a Ghostland Observatory show. After the concert, we split a cab with our friends to a dive bar, The Levee.
            </p>
          </div>
        </div>
        <div class="story--box">
          <div id="story--2" class="story--box-content">
            <a
              class="venobox"
              href="./images/story/story-2-big@2x.png"
              data-gall="gallery01"
              data-title="In true romantic fashion, we ate cheeseballs, played Connect Four, and Rachel showed off her competitive spirit."
            >
              <img src="./images/story/story-2@2x.png" alt="" class="story--box-image">
            </a>
            <p class="story--box-text">
              In true romantic fashion, we ate cheeseballs, played Connect Four, and Rachel showed off her competitive spirit.
            </p>
          </div>
        </div>
        <div class="story--box">
          <div id="story--3" class="story--box-content">
            <a
              class="venobox"
              href="./images/story/story-3-big@2x.png"
              data-gall="gallery01"
              data-title="We dated, fell in love, and adopted an occasionally sweet cat, Gilda Catner."
            >
              <img src="./images/story/story-3@2x.png" alt="" class="story--box-image">
            </a>
            <p class="story--box-text">
              We dated, fell in love, and adopted an occasionally sweet cat, Gilda Catner.
            </p>
          </div>
        </div>
        <div class="story--box">
          <div id="story--4" class="story--box-content">
            <a
              class="venobox"
              href="./images/story/story-4-big@2x.png"
              data-gall="gallery01"
              data-title="Fast Forward to December 31, 2016: Chuck proposed at a captivating frozen waterfall in Sweden."
            >
              <img src="./images/story/story-4@2x.png" alt="" class="story--box-image">
            </a>
            <p class="story--box-text">
              Fast Forward to December 31, 2016: Chuck proposed at a captivating frozen waterfall in Sweden.
            </p>
          </div>
        </div>
        <div class="story--box">
          <div id="story--5" class="story--box-content">
            <a
              class="venobox"
              href="./images/story/story-5-big@2x.png"
              data-gall="gallery01"
              data-title="On June 17, 2017 we got married at an intimate ceremony with our family in North Carolina."
            >
              <img src="./images/story/story-5@2x.png" alt="" class="story--box-image">
            </a>
            <p class="story--box-text">
              On June 17, 2017 we got married at an intimate ceremony with our family in North Carolina.
            </p>
          </div>
        </div>
        <div class="story--box">
          <div id="story--6" class="story--box-content">
            <a
              class="venobox"
              href="./images/story/story-6-big@2x.png"
              data-gall="gallery01"
              data-title="On our first anniversary we are thrilled to celebrate with our extended family and friends. Thank you for your support and love."
            >
              <img src="./images/story/story-6@2x.png" alt="" class="story--box-image">
            </a>
            <p class="story--box-text">
              On our first anniversary we are thrilled to celebrate with our extended family and friends. Thank you for your support and love.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
